
ul,li {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}

div, ul, li{
    box-sizing: border-box;
}
div img {
    width: 100%;
}

.hide {
    display: none !important;
}

.fdj-wrap {
    position: relative;
}

.fdj-wrap .imgs-wrap .header {
    position: relative;
    width: 400px;
    height: 400px;
    border: 1px solid #ccc;
    cursor: move;
}
.fdj-wrap .imgs-wrap .header .move-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    background-color: #666;
    opacity: .5;
}
.fdj-wrap .imgs-list {
    overflow: hidden;
    width: 410px;
    margin: 10px 0 0 0;
}
.fdj-wrap .imgs-list li {
    float: left;
    width: 72px;
    height: 72px;
    /* border: 1px solid #000; */
    margin-right: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    cursor: pointer;
}
.fdj-wrap .imgs-list li.active {
    border-color: #000;
}

.fdj-wrap .imgs-list li img {
    width: 100%;
}

.fdj-wrap .big-img-wrap {
    overflow: hidden;
    position: absolute;
    width: 400px;
    height: 400px;
    left: 410px;
    top: 0;
    border: 1px solid #000;
}
.fdj-wrap .big-img-wrap img {
    position: absolute;
    width: 800px;
    left: 0;
    top: 0;
}